.container{
    background-color: white;
    box-shadow: 0 1px 1px #383838;
    border-radius: 4px;
	width: 600px;

	margin: auto;
	margin-top: 100px;
	padding: 20px;
}
.torrents{
    width: 900px;
    margin-left: 301px;
    border: groove;
    padding: 10 10 10 10px;
}